@import '../../../assets/common';

.base{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    .header{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
}

.content{
    width: 95%;
    position: relative;
    margin-top: 35px;  
}

@media screen and (min-width: 600px) {
    .content{
        width: 500px;
    }
}

.form{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 4px rgba($color: #000000, $alpha: .15);
    margin-top: 5px;

    .text-connexion{
        width: 90%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(53, 51, 51);
        font-family: 'Fira Sans';
        // font-size: 1.1rem;
    }
    .divider{
        @include divider(100%);
    }

    .error {
        display: flex;
        align-items: center;
        width: 90%;
        height: 28px;
        background-color: brown;
        color: white;
        padding-left: 15px;
        margin-top: 15px;
        font-size: 0.9rem;
        border-radius: 3px;
    }

    @include phoneFieldStyle(90%);

    label{
        @include labelStyle(90%,$require:true);
    }
    input{
       @include fieldStyle(90%);
    }

    .forgot-pass{
        width: 90%;
        display: flex;
        justify-content: flex-end;
        margin: 10px 0;
        a{
            text-decoration: none;
            color: dodgerblue;
            font-size: 0.7rem;
        }
    }

    .login{
        width: 90%;
        height: 36px;
        background-color: #00a362;
        border: 1px solid #023f2b ;
        color: white;
        border-radius: 3px;
        margin-bottom: 25px;
        cursor: pointer;
    }

    .navigate{
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 25px 0px;
        .btn{
            width: 47%;
            height: 33px;
            border: 1px solid #aeafb3;
            color: $text-color1;
            border-radius: 3px;
            background-color: #ebecf0;
            cursor: pointer;
            &:focus{
                outline: none;
            }
            // box-shadow: 1px 1px 2px rgba($color: #00a362, $alpha: .75),-1px -1px 2px rgba($color: #00a362, $alpha: .75);
        }
    }
}