<div class="base">
    <app-auth-header class="header"></app-auth-header>
  
    <div class="content">
      <form class="form" >
        <h5 class="text-connexion">Connexion</h5>
        <hr class="divider">
        <span class="error" *ngIf="false">Vos identifiants sont incorrect.</span>
        <label for="phone">Telephone</label>
        <div class="phone">
            <span class="phone-code">🇲🇱 +223 <i class="material-icons">expand_more</i></span>
            <input [(ngModel)]="con_phone" name="name" type="tel" id="phone" placeholder="Entrer votre numero de telephone">
        </div>
        <label for="pass">Mot de passe</label>
        <input [(ngModel)]="con_pass" name="pass" type="password" id="pass" placeholder="Entrer votre mot de passe">
        <div class="forgot-pass">
          <a href="#">mot de passe oubliez ?</a>
        </div>
        <button class="login" (click)="onSend()">Connexion</button>
        <hr class="divider">
        <div class="navigate">
          <button class="btn" (click)="onNavigate('NEW_COMPTE')">Creer un compte</button>
          <button class="btn" (click)="onNavigate('NEW_SHOP')">Creer une boutique</button>
        </div>
      </form>
    </div>
  
    <app-auth-footer class="footer"></app-auth-footer>
  </div>
