
$text-color1: rgb(53, 51, 51);
$color0: #00a362;
$border-color: #ebecf0;
$border-color1: #c5c6ca;
@mixin fieldStyle($width) {
    width: $width;
    height: 36px;
    border: 1px solid $border-color1;
    padding: 0px 8px;
    border-radius: 3px;
    font-size: 0.8rem;
    line-height: 20px;
    &::placeholder{
        font-size: 0.7rem;
        font-family: 'Fira Sans';
    }

    &:focus{
        outline: none;
        box-shadow: 2px 2px 5px rgba($color: $color0, $alpha: .35),-2px -2px 5px rgba($color: $color0, $alpha: .35);
        border: 1.1px solid $color0 !important;
    }
}

@mixin selectStyle($width) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: $width;
        height: 35px;
        color: #000000;
        cursor: pointer;
        border: 1px solid $border-color1;
        padding: 0 2%;
        border-radius: 3px;
        font-size: 90%;
        i{
            font-size: 160%;
        }
}

@mixin  labelStyle($width,$require: false) {
    width: $width;
    display: block;
    margin: 25px 0 5px 0;
    font-size: 0.82rem;
    font-weight: 400;
    color: rgb(53, 51, 51);
    @if $require {
        &::after{
            content: "*";
            color: red;
        }
    }
}

@mixin doubleFieldStyle($width) {
    .double-field{
        width: $width;
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .field{
            width: 100%;
            @media screen and (min-width: 600px) {
                width: 48%;
            }
            position: relative; 
            label{
                @include labelStyle(100%,true);
            }
            input{
                @include fieldStyle(100%);
            }
        }
    }
}


@mixin phoneFieldStyle($width) {
    .phone{
        width: $width;
        height: 35px;
        display: flex;
        position: relative;
        justify-content: space-between;
        .phone-code{
            display: flex; 
            justify-content: space-evenly;
            align-items: center;
            width: 20%;
            height: 100%;
            color: #000000;
            cursor: pointer;
            border: 1px solid $border-color1;
            border-radius: 3px;
            font-size: 70%;
            i{
                font-size: 140%;
            }
            // border-right: none;
        }
        input{
            @include fieldStyle(79%);
        }
    }
}

@mixin agreement($width) {
    width: $width;
    font-family: 'Fira Sans';
    font-size: 0.715rem;
    margin-bottom: 10px;
    text-align: center;
    a{
        text-decoration: none;
        color: rgb(77, 173, 238);
    }
}

@mixin divider($size,$horizontal: true ,$color: $border-color) {
    border: none;
    @if $horizontal {
        width: $size;
        border-top: 1.2px solid $color;        
    } @else{
        height: $size;
        border-right: 1px solid $color;
    }

}

@mixin checkElementStyle($color,$size) {
    
    input[type=radio], input[type=checkbox] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
    }

    input[type=radio], input[type=checkbox] {
        border-radius: 50%;
        height: $size;
        width: $size;
        background: #fff;
        border: 2.5px solid #ccc;
        position: relative;
    }

    input[type=checkbox]{
        border-radius: 3.5px;
    }

    input[type=radio]:checked, input[type=checkbox]:checked{
        border-color: $color0;
        position: relative;
    }

    input[type=checkbox]:checked{
        background-color: $color0;
    }

    input[type=radio]:checked::after, input[type=checkbox]:checked::after  {
            position: absolute;
            content: "";
            display: block;
            width: $size / 2;
            height: $size / 2;
            top: 50%;
            left: 50%;
            color: white;
            font-size: $size * 0.84;
            transform: translate(-50%,-50%);
            border-radius: 50%;
            background-color: rgb(29, 165, 135);
    }

    input[type=checkbox]:checked::after{
        font-family: FontAwesome;
        content: "\2713";
        background-color: inherit;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
