<div class="base">
    <app-auth-header class="header"></app-auth-header>

    <div class="content">
      <h5 class="title">Verification du numero</h5>
      <hr class="divider">
      <span class="explain">Afin d'activer votre compte, Veuillez saissir le code envoyer au numero de telephone +223 92854021</span>
      <label for="code">Code verification</label>
      <input type="text" placeholder="Entrer le code de verification">
      <div class="resend-code">
          <span>code non recu ? <i class="material-icons">replay</i></span>
      </div>
      <div class="navigate">
          <button class="btn">Retour</button>
          <button class="btn verify">Verifier</button>
      </div>
    </div>

    <app-auth-footer class="footer"></app-auth-footer>
</div>

